body {
	background-color: $light-grey;
}

header {
	background-color: $white;
	margin-bottom: 20px;
	@include clearfix;
}

.container {
	width: 550px;
	margin: 0 auto 20px;
}

.logo,
.steps {
	display: inline-block;
	padding: 30px;
}

.logo {
  float: left;

  img {
    width: 180px;
  }
}

.steps {
	background-color: $white;
	text-align: center;
	float: right;

	li {
		margin-left: 30px;
		display: inline-block;
		font-size: 13px;
		font-weight: bold;

		a {
			width: 100%;
			display: block;
			color: lighten($medium-grey, 40%);
			padding-bottom: 10px;
			text-align: center;

		}

		&.current {
			border-bottom: 2px solid $black;

			a {
				color: $black;
			}
		}
	}
}

.go-to-step {
	display: block;
	cursor: pointer;
	background-color: $blue;
	color: $white;
	margin: 0 auto;
	width: 100%;
	text-align: left;
	padding: 20px;

	i {
		float: right;
		color: $white;
	}

	&.back {
		width: auto;
		text-align: center;
		background-color: transparent;
		color: $blue;
		i {
			float: none;
			color: $blue;
		}
	}
}

fieldset {
	background-color: $white;
	padding: 40px;
	margin: 0 auto 20px;
	border-radius: 6px;

	legend {
		background-color: $white;
		border-radius: 5px 5px 0 0;
		color: $blue;
		width: 100%;
		float: left;
		margin-bottom: 30px;
		font-size: 26px;
	}
}

#step1 {
	display: block;
}

.go-to-step[href="#step2"],
.content,
.personal-details,
#partner,
#child1,
#child2,
#last-step,
.partner-address,
.child1-details,
.child2-details,
.areas-of-expertise,
.partner-areas-of-expertise {
	display: none;
}

.call-to-action {
	width: 100%;
	text-align: center;
	border: none;
	padding: 30px;
	background-color: $blue;
	font-family: $sans;
	margin-top: 20px;
	border-radius: 10px;
	color: $white;
}

form {
	label {
		cursor: pointer;
		font-size: 13px;
		font-weight: bold;
		margin-top: 10px;
		padding: 10px 0;
		display: block;
		&:hover {
			color: darken($blue, 10%);
		}
		&.inner {
			display: none;
			input {
				margin-left: 20px;
			}
		}
	}

	input[type=checkbox],
	input[type=radio] {
		margin-right: 5px;
	}

	input[type=text],
	input[type=date],
	input[type=email],
	input[type=tel] {
		width: 100%;
		clear: both;
		display: block;
		box-shadow: inset 0 1px 0 #d9e1e9;
		background: $light-grey;
		color: $medium-grey;
		font-size: 18px;
		padding: 14px;
		border-radius: 3px;
		border: 0 none;
		margin-top: 8px;
	}

	input[name="postcode"],
	input[name="partner-postcode"],
	input[type="date"] {
		width: 55%;
	}

	input[name="phone"] {
		display: none;
	}

	input.other {
		display: inline;
		width: 60%;
		margin: 0 5px;
		&.amount {
			width: 30%;
		}
	}
}

.hide {
	margin-bottom: 20px;
	margin-left: 20px;
}

.family-member {
	label {
		font-size: 18px;
		font-weight: bold;
		margin-top: 0;
	}
}

h3 {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 10px;
}

span {
	clear: both;
	font-size: 12px;
	font-style: italic;
	margin-left: 5px;
	font-weight: normal;
	font-color: $medium-grey;
}

.membership-type,
.charity-sectors {
	.option {
		vertical-align: top;
		width: 49%;
		margin-right: 2%;
		margin-bottom: 2%;
		padding: 15px;
		border-radius: 5px;
		cursor: pointer;
		display: inline-block;
		text-align: center;
		border: 2px solid $light-grey;
		min-height: 255px;

		&:nth-child(2n) {
			margin-right: 0;
		}

		i {
			font-size: 30px;
			margin-top: 10px;
			display: block;
		}

		input {
			width: 100%;
			text-align: left;
			margin-top: 0;
		}

		label {
			width: 100%;
			font-size: 13px;
			margin: 10px 0;
		}

		&:hover {
			border-color: darken($light-grey, 10%);
		}

		&.selected {
			border-color: $blue;
			i {
				color: $blue;
			}
			&:hover {
				background-color: $white;
			}
		}
	}
}

.membership-type {
	.option {
		width: 100%;
		margin-right: 0;
		min-height: 0;
		text-align: left;

		.icon,
		ul,
		input {
			display: inline-block;
			vertical-align: top;
			width: auto;
		}

		.icon {
			width: 100px;
			text-align: center;
			padding: 15px 0;
		}

		i, label {
			baseline: middle;
			margin: 0;
			padding: 0;
		}

		i {
			font-size: 26px;
			margin-bottom: 5px;
		}

		ul {
			margin-left: 20px;
			margin-top: 10px;

			li {
				text-align: left;
				color: $medium-grey;
				&:before {
					@extend .fa;
					@extend .fa-check;
					margin-right: 5px;
				}
				&:first-child {
					margin-top: 5px;
				}
			}
		}
	}
}
