* {  
  -webkit-font-smoothing: antialiased; 
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,.container, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%; 
  font: inherit; 
  vertical-align: baseline;
  font-family: $sans;
  color: $black;
}

ul, ol, li {
  list-style: none;
}

html, body, .content {
  height: 100%;
}

h1, h2 {
  font-family: $sans;
}

h4, p, li {
  letter-spacing: 0.5px;
}

h1 {
  font-size: 34px;
  font-weight: 300;
  line-height: 1em;
}

h2 {
  font-size: 30px;
  font-weight: 300;
}

p, li {
  font-size: 12px;
  line-height: 1.5em;
}

p {
  margin-top: 1em;
}

li {
  margin-top: 1em;
}

a {
  text-decoration: none;
}