@charset "utf-8";
@import "compass";
@import "font-awesome";
@import "variables";
@import "layout";
@import "form";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

* {  
  -webkit-font-smoothing: antialiased; 
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,.container, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%; 
  font: inherit; 
  vertical-align: baseline;
  font-family: $sans;
  color: $black;
}

ul, ol, li {
  list-style: none;
}

html, body, .content {
  height: 100%;
}

h1, h2 {
  font-family: $sans;
}

h4, p, li {
  letter-spacing: 0.5px;
}

h1 {
  font-size: 34px;
  font-weight: 300;
  line-height: 1em;
}

h2 {
  font-size: 30px;
  font-weight: 300;
}

p, li {
  font-size: 12px;
  line-height: 1.5em;
}

p {
  margin-top: 1em;
}

li {
  margin-top: 1em;
}

a {
  text-decoration: none;
}

$susy: (
  columns: 12,
  gutters: 1/3,
  gutter-position: split,
  global-box-sizing: border-box,
);

$sans: 'Open Sans', Arial, Helvetica, sans-serif;

$black: #222;
$white: #fff;
$light-grey: #f7f8f9;
$medium-grey: #727a7c;
$blue: #0D98BE;

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin circle($width) {
  width: $width;
  height: $width;
  -webkit-border-radius: $width/2;
     -moz-border-radius: $width/2;
          border-radius: $width/2;
}

@mixin arrow-down($size, $color) {
  content: ' ';
  width: 0; 
  height: 0; 
  border-left: $size solid transparent;
  border-right: $size solid transparent;    
  border-top: $size solid $color;
  position: relative;
  display: block;
}

@mixin arrow-up($size, $color) {
  content: ' ';
  width: 0; 
  height: 0;
  border-top: $size solid transparent; 
  border-left: $size solid transparent;
  border-right: $size solid transparent;    
  border-bottom: $size solid $color;
  position: relative;
  display: block;
}

@mixin arrow-left($size, $color) {
  content: ' ';
  width: 0; 
  height: 0; 
  border-top: $size solid transparent; 
  border-left: $size solid transparent;
  border-right: $size solid $color;    
  border-bottom: $size solid transparent;
  position: relative;
  display: block;
}

@mixin arrow-right($size, $color) {
  content: ' ';
  width: 0; 
  height: 0; 
  border-top: $size solid transparent; 
  border-left: $size solid $color;
  border-right: $size solid transparent;    
  border-bottom: $size solid transparent;
  position: relative;
  display: block;
}

body {
	background-color: $light-grey;
}

header {
	background-color: $white;
	margin-bottom: 20px;
	@include clearfix;
}

.container {
	width: 800px;
	margin: 0 auto 20px;
}

.logo,
.steps {
	display: inline-block;
	padding: 30px 20px 20px;
}

.logo {
  float: left;

  img {
    width: 180px;
  }
}

.steps {
	background-color: $white;
	text-align: center;
	float: right;

	li {
		width: 60px;
		margin-left: 20px;
		display: inline-block;
		font-size: 13px;
		font-weight: bold;

		a {
			width: 100%;
			display: block;
			color: lighten($medium-grey, 40%);
			padding-bottom: 10px;
			text-align: center;

		}

		&.current {
			border-bottom: 2px solid $black;

			a {
				color: $black;
			}
		}
	}
}

.content {
	display: none;
}

#step1 {
	display: block;
}

.go-to-step {
	cursor: pointer;
	background-color: $blue;
	color: $white;
	margin: 0 auto;
	width: 500px;
	text-align: left;
	padding: 20px;

	i {
		float: right;
		color: $white;
	}

	&.back {
		width: auto;
		text-align: center;
		background-color: transparent;
		color: $blue;
		i {
			float: none;
			color: $blue;
		}
	}
}

fieldset {
	background-color: $white;
	padding: 40px;
	width: 500px;
	margin: 0 auto 20px;
	border-radius: 6px;

	legend {
		background-color: $white;
		border-radius: 5px 5px 0 0;
		color: $blue;
		width: 100%;
		float: left;
		margin-bottom: 30px;
		font-size: 26px;
	}
}

#personal-details,
#partner,
#child1,
#child2,
#last-step {
	display: none;
}

.child1-details,
.child2-details {
	display: none;
}

.areas-of-expertise,
.partner-areas-of-expertise {
	display: none;
}

.call-to-action {
	border: none;
	padding: 30px;
	background-color: $blue;
	font-family: $sans;
	margin-top: 20px;
	border-radius: 10px;
	color: $white;
}

form {

	label {
		cursor: pointer;
		font-size: 13px;
		font-weight: bold;
		margin-top: 10px;
		padding: 10px 0;
		display: block;
		&:hover {
			color: darken($blue, 10%);
		}
	}

	input[type=checkbox],
	input[type=radio] {
		margin-right: 5px;
	}

	input[type=text],
	input[type=date],
	input[type=email],
	input[type=tel] {
		width: 100%;
		clear: both;
		display: block;
		box-shadow: inset 0 1px 0 #d9e1e9;
		background: $light-grey;
		color: $medium-grey;
		font-size: 18px;
		padding: 14px;
		border-radius: 3px;
		border: 0 none;
		margin-top: 8px;
	}
	input[name="postcode"],
	input[name="partner-postcode"],
	input[type="date"] {
		width: 55%;
	}

	input.other {
		display: inline;
		width: 60%;
		margin: 0 5px;
		&.amount {
			width: 30%;
		}
	}
}

.partner-address {
	display: none;
}

.family-member {
	label {
		font-size: 18px;
		font-weight: bold;
		margin-top: 0;
	}
}

h3 {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 10px;
}

span {
	clear: both;
	font-size: 12px;
	font-style: italic;
	margin-left: 5px;
	font-weight: normal;
	font-color: $medium-grey;
}


.membership-type,
.charity-sectors,
.charities-involved {
	width: 100%;

	.option {
		width: 32%;
		margin-right: 2%;
		margin-bottom: 2%;
		padding: 15px;
		min-height: 215px;
		border-radius: 5px;
		cursor: pointer;
		display: inline-block;
		text-align: center;
		border: 2px solid $light-grey;

		&:nth-child(3n) {
			margin-right: 0;
		}

		i {
			font-size: 30px;
			margin-top: 20px;
			display: block;
		}

		input {
			width: 100%;
			text-align: left;
		}

		label {
			width: 100%;
			font-size: 15px;
			margin: 10px 0 40px;
		}

		ul {
			clear: both;

			li {
				text-align: left;
				color: $medium-grey;
				&:before {
					@extend .fa;
					@extend .fa-check;
					margin-right: 5px;
				}
			}
		}

		&:hover {
			border-color: darken($light-grey, 10%);
		}

		&.selected {
			border-color: $blue;
			i {
				color: $blue;
			}
			&:hover {
				background-color: $white;
			}
		}
	}
}

