.container {
	width: 800px;
	margin: 0 auto;
	padding: 40px;
}

.steps {
	margin-bottom: 70px;

	li {
		border-bottom: 3px solid $light-grey;
		padding-bottom: 15px;
		width: 33%;
		display: inline-block;
		text-align: center;
		font-size: 13px;
		font-weight: bold;

		a {
			color: lighten($medium-grey, 40%);
		}

		&:last-child {
			width: 34%;
		}

		&.current {
			border-bottom: 3px solid $blue;
			a {
				color: $blue;
			}
		}
	}
}

// .content {
// 	display: none;
// }

// #personal-details {
// 	display: block;
// }

#personal-details,
#membership-details,
#payment-details {

	form {
		label {
			width: 50%;
			margin: 0 auto;
			font-size: 13px;
			font-weight: bold;
			margin-top: 30px;
			display: block;
		}

		input[type=text],
		input[type=date],
		input[type=email],
		input[type=tel] {
			width: 100%;
			clear: both;
			display: block;
			box-shadow: inset 0 1px 0 #d9e1e9;
			background: $light-grey;
			color: $medium-grey;
			font-size: 18px;
			padding: 14px;
			border-radius: 3px;
			border: 0 none;
			margin-top: 8px;
		}
		input[name="postcode"] {
			width: 50%;
		}
	}
}

#membership-details {

	.membership-type {
		text-align: center;
	}

	h3 {
		font-size: 13px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.option {
		width: 32%;
		display: inline-block;
		text-align: center;
		padding: 25px;
		background-color: $light-grey;
		border: 2px solid $light-grey;
		margin-bottom: 40px;

		&:nth-child(2) {
			margin: 2%;
		}

		i {
			font-size: 30px;
			margin-top: 20px;
			display: block;
		}

		input {
			width: 100%;
			text-align: left;
		}

		label {
			width: 100%;
			margin: 10px 0 40px;
		}

		ul {
			clear: both;

			li {
				text-align: left;
				color: $medium-grey;
				&:before {
					@extend .fa;
					@extend .fa-check;
					margin-right: 5px;
				}
			}
		}

		&:hover, 
		&.selected {
			border-color: $blue;

			i, label, ul li {
				color: $blue;
			}
		}
	}
}

