#step2.content
	%fieldset.charity-sectors
		%legend
			Which charity sectors are you interested in?
			%span
				Select as many as you like!
		.option>
			%input.option-checkbox{:type=> "checkbox", :name=>"charity-sector-interests[]", :value=>"children"}
			%i.fa.fa-child
			%label
				Children and Young People
				%span
					%p
					Initiatives supporting under-25s
					%br
					Aspiration building
					%br
					Extra-curricular support

		.option>
			%input.option-checkbox{:type=> "checkbox", :name=>"charity-sector-interests[]", :value=>"environment"}
			%i.fa.fa-tree
			%label
				Environment &amp; Energy
				%span
					%p
					Climate Change
					%br
					Conservation
					%br
					Clean Energy

		.option>
			%input.option-checkbox{:type=> "checkbox", :name=>"charity-sector-interests[]", :value=>"economic-development"}
			%i.fa.fa-bank
			%label
				Sustainable Economic Development
				%span
					%p
					Social Enterprise
					%br
					Infrastructure
					%br
					Alternative Financial Models

		.option>
			%input.option-checkbox{:type=> "checkbox", :name=>"charity-sector-interests[]", :value=>"health-care"}
			%i.fa.fa-stethoscope
			%label
				Health Care
				%span
					%p
					Access to Care
					%br
					Medical Research
					%br
					Practitioner Training

		.option>
			%input.option-checkbox{:type=> "checkbox", :name=>"charity-sector-interests[]", :value=>"human-rights"}
			%i.fa.fa-legal
			%label
				Human Rights
				%span
					%p
					Peace and Reconciliation
					%br
					Community Cohesion
					%br
					Social Justice

		.option>
			%input.option-checkbox{:type=> "checkbox", :name=>"charity-sector-interests[]", :value=>"education"}
			%i.fa.fa-graduation-cap
			%label
				Education
				%span
					%p
					Literacy and Numeracy
					%br
					Access to Education
					%br
					Quality of Education

		.option>
			%input.option-checkbox{:type=> "checkbox", :name=>"charity-sector-interests[]", :value=>"social-change"}
			%i.fa.fa-group
			%label
				Social Change
				%span
					%p
					Elderly
					%br
					Women and Girls
					%br
					Disability

		.option>
			%input.option-checkbox{:type=> "checkbox", :name=>"charity-sector-interests[]", :value=>"media-arts-and-culture"}
			%i.fa.fa-paint-brush
			%label
				Media, Arts &amp; Culture
				%span
					%p
					Widening Audiences
					%br
					Freedom of Expression
					%br
					Developing Young Artists

		.option>
			%input.option-checkbox{:type=> "checkbox", :name=>"charity-sector-interests[]", :value=>"inspire-me"}
			%i.fa.fa-magic
			%label
				Not sure, inspire me
				%span
					%p
					Don't worry if you don't know, we're here to help you choose!

		.option>
			%input.option-checkbox{:type=> "checkbox", :name=>"charity-sector-interests[]", :value=>"other"}
			%i.fa.fa-lightbulb-o
			%label 
				%input{:type=> "text", :name=>"other-charity-sector"}
				%span
					%p
					If we've missed something, just enter your preference here

	%fieldset.charities-involved
		%legend
			Please share the names of any charities you are already involved with...
			%span 
				Optional
		%label
			%input{:type=> "text", :name=>"charities-already-involved-with"}

	%fieldset.activites
		%legend
			As a Rainmaker, what are you interested in?
		%label 
			%input{:type=> "checkbox", :name=>"rainmaker-interests[]", :value=>"attending-events"}
			Attending events and meeting other Rainmakers

		%label 
			%input{:type=> "checkbox", :name=>"rainmaker-interests[]", :value=>"growing-community"}
			Recruiting new Rainmakers into the community

		%label 
			%input{:type=> "checkbox", :name=>"rainmaker-interests[]", :value=>"donating-to-charities"}
			Financially supporting a charity

		%label 
			%input{:type=> "checkbox", :name=>"rainmaker-interests[]", :value=>"opening-personal-account"}
			Opening a personal charity account

		%label 
			%input{:type=> "checkbox", :name=>"rainmaker-interests[]", :value=>"receiving-bespoke-advice"}
			Receiving bespoke donor advice

		%label 
			%input.donating-time{:type=> "checkbox", :name=>"rainmaker-interests[]", :value=>"donating-time"}
			Volunteering my time

	%fieldset.areas-of-expertise
		%legend
			What are your areas of expertise?
		%label 
			%input{:type=> "checkbox", :name=>"areas-of-expertise[]", :value=>"ceo"}
			CEO

		%label 
			%input{:type=> "checkbox", :name=>"areas-of-expertise[]", :value=>"accounting"}
			Accounting

		%label 
			%input{:type=> "checkbox", :name=>"areas-of-expertise[]", :value=>"hr"}
			HR

		%label 
			%input{:type=> "checkbox", :name=>"areas-of-expertise[]", :value=>"legal"}
			Legal

		%label 
			%input{:type=> "checkbox", :name=>"areas-of-expertise[]", :value=>"other"}
			Other
			%input.other{:type=> "text", :name=>"other-area-of-expertise"}

	%fieldset.charity-sectors.family
		%legend
			What charity sectors is your partner interested in?
		.option>
			%input.option-checkbox{:type=> "checkbox", :name=>"partner-charity-sector-interests[]", :value=>"children"}
			%i.fa.fa-child
			%label
				Children and Young People
				%span
					%p
					e.g. Transitional Support
					%br
					Raising Aspirations
					%br
					Extra-curricular Opportunites

		.option>
			%input.option-checkbox{:type=> "checkbox", :name=>"partner-charity-sector-interests[]", :value=>"environment"}
			%i.fa.fa-tree
			%label
				Climate, Energy &amp; Environment
				%span
					%p
					e.g. Climate Change
					%br
					Wildlife Conservation
					%br
					Clean Energy

		.option>
			%input.option-checkbox{:type=> "checkbox", :name=>"partner-charity-sector-interests[]", :value=>"economic-development"}
			%i.fa.fa-bank
			%label
				Responsible Economic Development
				%span
					%p
					e.g. Social Enterprise
					%br
					Concious Trade
					%br
					Sustainable Economic Growth

		.option>
			%input.option-checkbox{:type=> "checkbox", :name=>"partner-charity-sector-interests[]", :value=>"health-care"}
			%i.fa.fa-stethoscope
			%label
				Global Health
				%span
					%p
					e.g. Access to Care
					%br
					Medical Training
					%br
					Medical Research

		.option>
			%input.option-checkbox{:type=> "checkbox", :name=>"partner-charity-sector-interests[]", :value=>"human-rights"}
			%i.fa.fa-legal
			%label
				Human Rights
				%span
					%p
					e.g. Peace and Reconciliation
					%br
					Community Cohesion
					%br
					Social Justice

		.option>
			%input.option-checkbox{:type=> "checkbox", :name=>"partner-charity-sector-interests[]", :value=>"education"}
			%i.fa.fa-graduation-cap
			%label
				Education
				%span
					%p
					e.g. Literacy and Numeracy
					%br
					Access to Education
					%br
					Quality of Education

		.option>
			%input.option-checkbox{:type=> "checkbox", :name=>"partner-charity-sector-interests[]", :value=>"social-change"}
			%i.fa.fa-group
			%label
				Social Change
				%span
					%p
					e.g. The Elderly
					%br
					Women and girls
					%br
					Homelessness

		.option>
			%input.option-checkbox{:type=> "checkbox", :name=>"partner-charity-sector-interests[]", :value=>"media-arts-and-culture"}
			%i.fa.fa-paint-brush
			%label
				Media, Arts &amp; Culture
				%span
					%p
					e.g. Cultural Heritage
					%br
					Development of Artists
					%br
					Creation of Art

		.option>
			%input.option-checkbox{:type=> "checkbox", :name=>"partner-charity-sector-interests[]", :value=>"inspire-me"}
			%i.fa.fa-magic
			%label
				Not sure, inspire me
				%span
					%p
					Don't worry if you don't know, we're here to help you choose!

		.option>
			%input.option-checkbox{:type=> "checkbox", :name=>"partner-charity-sector-interests[]", :value=>"other"}
			%i.fa.fa-lightbulb-o
			%label 
				%input{:type=> "text", :name=>"partner-other-charity-sector"}
				%span
					%p
					If we've missed something, just enter your preference here

	%fieldset.family.partner-interests
		%legend
			As a Rainmaker, what is your partner most interested in?

		.partner-interests
			%label 
				%input{:type=> "checkbox", :name=>"partner-rainmaker-interests[]", :value=>"attending-events"}
				Attending events and meeting other Rainmakers

			%label 
				%input{:type=> "checkbox", :name=>"partner-rainmaker-interests[]", :value=>"growing-community"}
				Recruiting new Rainmakers into the community

			%label 
				%input{:type=> "checkbox", :name=>"partner-rainmaker-interests[]", :value=>"donating-to-charities"}
				Financially supporting a charity

			%label 
				%input{:type=> "checkbox", :name=>"partner-rainmaker-interests[]", :value=>"opening-personal-account"}
				Opening a personal charity account

			%label 
				%input{:type=> "checkbox", :name=>"partner-rainmaker-interests[]", :value=>"receiving-bespoke-advice"}
				Receiving bespoke donor advice

			%label 
				%input.partner-donating-time{:type=> "checkbox", :name=>"partner-rainmaker-interests[]", :value=>"donating-time"}
				Volunteering their time

	%fieldset.partner-areas-of-expertise
		%legend
			What are your partner's areas of expertise?
		%label 
			%input{:type=> "checkbox", :name=>"partner-areas-of-expertise[]", :value=>"ceo"}
			CEO

		%label 
			%input{:type=> "checkbox", :name=>"partner-areas-of-expertise[]", :value=>"accounting"}
			Accounting

		%label 
			%input{:type=> "checkbox", :name=>"partner-areas-of-expertise[]", :value=>"hr"}
			HR

		%label 
			%input{:type=> "checkbox", :name=>"partner-areas-of-expertise[]", :value=>"legal"}
			Legal

		%label 
			%input{:type=> "checkbox", :name=>"partner-areas-of-expertise[]", :value=>"other"}
			Other
			%input.other{:type=> "text", :name=>"partner-other-area-of-expertise"}

	%a.go-to-step{:href=>"#step3"}
		Go to final step
		%i.fa.fa-arrow-right
		
	%a.go-to-step.back{:href=>"#step1"}
		%i.fa.fa-arrow-left
		Back to step 1/3