#step2.content
	%fieldset.charity-sectors
		%legend
			What charity sectors are you interested in?
		%form
			.option>
				%input.option-checkbox{:type=> "checkbox", :name=>"charity-sector-interests", :value=>"children-and-young-people"}
				%i.fa.fa-child
				%label Children and Young People

			.option>
				%input.option-checkbox{:type=> "checkbox", :name=>"charity-sector-interests", :value=>"climate-energy-and-environment"}
				%i.fa.fa-tree
				%label Climate, Energy &amp; Environment

			.option>
				%input.option-checkbox{:type=> "checkbox", :name=>"charity-sector-interests", :value=>"responsible-economic-development"}
				%i.fa.fa-bank
				%label Responsible Economic Development

			.option>
				%input.option-checkbox{:type=> "checkbox", :name=>"charity-sector-interests", :value=>"global-health"}
				%i.fa.fa-stethoscope
				%label Global Health

			.option>
				%input.option-checkbox{:type=> "checkbox", :name=>"charity-sector-interests", :value=>"human-rights"}
				%i.fa.fa-legal
				%label Human Rights

			.option>
				%input.option-checkbox{:type=> "checkbox", :name=>"charity-sector-interests", :value=>"education"}
				%i.fa.fa-graduation-cap
				%label Education

			.option>
				%input.option-checkbox{:type=> "checkbox", :name=>"charity-sector-interests", :value=>"social-change"}
				%i.fa.fa-group
				%label Social Change

			.option>
				%input.option-checkbox{:type=> "checkbox", :name=>"charity-sector-interests", :value=>"media-arts-and-culture"}
				%i.fa.fa-paint-brush
				%label Media, Arts &amp; Culture

			.option>
				%input.option-checkbox{:type=> "checkbox", :name=>"charity-sector-interests", :value=>"inspire-me"}
				%i.fa.fa-magic
				%label Don't know, inspire me!

			.option>
				%input.option-checkbox{:type=> "checkbox", :name=>"charity-sector-interests", :value=>"other"}
				%i.fa.fa-lightbulb-o
				%label 
					%input{:type=> "text", :name=>"other-charity-sector"}
	
	%fieldset.charities-involved
		%legend
			Please name any charities you are already with...
			%span 
				Optional
		%form
			%label
				%input{:type=> "text", :name=>"charities-already-involved-with"}

	%fieldset.activites
		%legend
			As a Rainmaker, what are you interested in?
		%form
			%label 
				%input{:type=> "checkbox", :name=>"rainmaker-interests", :value=>"attending-events"}
				Attending events and meeting other rainmakers

			%label 
				%input{:type=> "checkbox", :name=>"rainmaker-interests", :value=>"growing-community"}
				Recruiting new Rainmakers into the community

			%label 
				%input{:type=> "checkbox", :name=>"rainmaker-interests", :value=>"donating-to-charities"}
				Donating to charities

			%label 
				%input{:type=> "checkbox", :name=>"rainmaker-interests", :value=>"opening-personal-account"}
				Opening a personal charity account

			%label 
				%input{:type=> "checkbox", :name=>"rainmaker-interests", :value=>"receiving-bespoke-advice"}
				Receiving bespoke donor advice

			%label 
				%input.donating-time{:type=> "checkbox", :name=>"rainmaker-interests", :value=>"donating-time"}
				Donating my time

	%fieldset.areas-of-expertise
		%legend
			What are your areas of expertise?
		%form
			%label 
				%input{:type=> "checkbox", :name=>"areas-of-expertise", :value=>"ceo"}
				CEO

			%label 
				%input{:type=> "checkbox", :name=>"areas-of-expertise", :value=>"accounting"}
				Accounting

			%label 
				%input{:type=> "checkbox", :name=>"areas-of-expertise", :value=>"hr"}
				HR

			%label 
				%input{:type=> "checkbox", :name=>"areas-of-expertise", :value=>"legal"}
				Legal

			%label 
				%input{:type=> "checkbox", :name=>"areas-of-expertise", :value=>"other"}
				Other
				%input.other{:type=> "text", :name=>"other-area-of-expertise"}

	%fieldset.charity-sectors.family
		%legend
			What charity sectors is your partner interested in?
		%form
			%label.hide
				%input{:type=>"checkbox", :name=>"partner-interests", :value=>"enter-partner-interests-later"}
				I would rather not enter my partner's interests at this point.

		%form.partner-interests
			.option>
				%input.option-checkbox{:type=> "checkbox", :name=>"partner-charity-sector-interests", :value=>"children-and-young-people"}
				%i.fa.fa-child
				%label Children and Young People

			.option>
				%input.option-checkbox{:type=> "checkbox", :name=>"partner-charity-sector-interests", :value=>"climate-energy-and-environment"}
				%i.fa.fa-tree
				%label Climate, Energy &amp; Environment

			.option>
				%input.option-checkbox{:type=> "checkbox", :name=>"partner-charity-sector-interests", :value=>"responsible-economic-development"}
				%i.fa.fa-bank
				%label Responsible Economic Development

			.option>
				%input.option-checkbox{:type=> "checkbox", :name=>"partner-charity-sector-interests", :value=>"global-health"}
				%i.fa.fa-stethoscope
				%label Global Health

			.option>
				%input.option-checkbox{:type=> "checkbox", :name=>"partner-charity-sector-interests", :value=>"human-rights"}
				%i.fa.fa-legal
				%label Human Rights

			.option>
				%input.option-checkbox{:type=> "checkbox", :name=>"partner-charity-sector-interests", :value=>"education"}
				%i.fa.fa-graduation-cap
				%label Education

			.option>
				%input.option-checkbox{:type=> "checkbox", :name=>"partner-charity-sector-interests", :value=>"social-change"}
				%i.fa.fa-group
				%label Social Change

			.option>
				%input.option-checkbox{:type=> "checkbox", :name=>"partner-charity-sector-interests", :value=>"media-arts-and-culture"}
				%i.fa.fa-paint-brush
				%label Media, Arts &amp; Culture

			.option>
				%input.option-checkbox{:type=> "checkbox", :name=>"partner-charity-sector-interests", :value=>"inspire-me"}
				%i.fa.fa-magic
				%label Don't know, inspire me!

			.option>
				%input.option-checkbox{:type=> "checkbox", :name=>"partner-charity-sector-interests", :value=>"other"}
				%i.fa.fa-lightbulb-o
				%label 
					%input{:type=> "text", :name=>"other-charity-sector"}

	%fieldset.family.partner-interests
		%legend
			As a Rainmaker, what is your partner most interested in?

		%form.partner-interests
			%label 
				%input{:type=> "checkbox", :name=>"partner-rainmaker-interests", :value=>"attending-events"}
				Attending events and meeting other rainmakers

			%label 
				%input{:type=> "checkbox", :name=>"partner-rainmaker-interests", :value=>"growing-community"}
				Recruiting new Rainmakers into the community

			%label 
				%input{:type=> "checkbox", :name=>"partner-rainmaker-interests", :value=>"donating-to-charities"}
				Donating to charities

			%label 
				%input{:type=> "checkbox", :name=>"partner-rainmaker-interests", :value=>"opening-personal-account"}
				Opening a personal charity account

			%label 
				%input{:type=> "checkbox", :name=>"partner-rainmaker-interests", :value=>"receiving-bespoke-advice"}
				Receiving bespoke donor advice

			%label 
				%input.partner-donating-time{:type=> "checkbox", :name=>"partner-rainmaker-interests", :value=>"donating-time"}
				Donating their time

	%fieldset.partner-areas-of-expertise
		%legend
			What are your partner's areas of expertise?
		%form
			%label 
				%input{:type=> "checkbox", :name=>"partner-areas-of-expertise", :value=>"ceo"}
				CEO

			%label 
				%input{:type=> "checkbox", :name=>"partner-areas-of-expertise", :value=>"accounting"}
				Accounting

			%label 
				%input{:type=> "checkbox", :name=>"partner-areas-of-expertise", :value=>"hr"}
				HR

			%label 
				%input{:type=> "checkbox", :name=>"partner-areas-of-expertise", :value=>"legal"}
				Legal

			%label 
				%input{:type=> "checkbox", :name=>"partner-areas-of-expertise", :value=>"other"}
				Other
				%input.other{:type=> "text", :name=>"partner-other-area-of-expertise"}

	%a.go-to-step{:href=>"#step3"}
		Go to Step 3 of 3
		%i.fa.fa-arrow-right
		
	%a.go-to-step.back{:href=>"#step1"}
		%i.fa.fa-arrow-left
		Back to Step 1 of 3