#step3.content
	%fieldset
		%legend
			How often would you like to donate?
		.frequency
			%label 
				%input{:checked=>"checked",:type=> "radio", :name=>"donation-frequency", :value=>"annual"}
				Annually

			%label 
				%input{:type=> "radio", :name=>"donation-frequency", :value=>"monthly"}
				Monthly

	%fieldset
		%legend
			How much would you like to donate?
		.donation-amount
			%label 
				%input{:type=> "radio", :name=>"donation-amount", :value=>"1000"}
				£1,000 / year

			%label 
				%input{:type=> "radio", :name=>"donation-amount", :value=>"3000"}
				£1,500 / year

			%label 
				%input{:type=> "radio", :name=>"donation-amount", :value=>"5000"}
				£2,000 / year

			%label 
				%input{:type=> "radio", :name=>"donation-amount", :value=>"other-amount"}
				£
				%input.other.amount{:type=> "text", :name=>"other-amount"}
				per year

	%fieldset
		%legend
			How would you like to pay?

		.pay-method
			%label
				%input{:type=> "radio", :name=>"donation-method", :value=>"direct-debit"}
				Direct Debit

			%label
				%input{:type=> "radio", :name=>"donation-method", :value=>"credit-card"}
				Credit Card
				%span 
					You will be redirected to a PayPal payment page
					%i

			%label
				%input{:type=> "radio", :name=>"donation-method", :value=>"cheque"}
				Cheque

	%fieldset#last-step
		%legend
			Great! We will send you an email with instructions for how to pay via direct Debit.
			%label
				%input#submit-button{:type=>"submit",  :name=>"join", :value=>"Become a Rainmaker!"}

	%fieldset
		%label
			%input{:checked=>"checked", :type=> "checkbox", :name=>"gift-aid-consent"}
			I am a UK Taxpayer and I would like Rainmker Foundation (registered charity 1141841) to reclaim the tax on all qualifying donations that I have made, as well as any future donations until I notify them otherwise.*
		%label
			%input{:checked=>"checked", :type=> "checkbox", :name=>"photo-consent"}
			I give my consent for my name, job title and photo to be used by Rainmaker Foundation on their website and other materials showing me as a member.

		%span
			* Please remember that what you pay in income/capital gains tax in any tax year must at least equal the amount of tax claimed on your donations by the charities and Community Amateur Sports Clubs that same tax year. Other taxes, such as Council Tax or VAT, do not count for this purpose. The charity will reclaim 25p of tax for every £1 you donate. You can cancel this declaration at any time by contacting us. Please remember that it is your responsibility to notify us if there are any changes to your tax status, name or address.

	%a.go-to-step.back{:href=>"#step2"}
		%i.fa.fa-arrow-left
		Back to Step 2/3
