#step3.content
	%fieldset
		%legend
			How often would you like to donate?
		%form.frequency
			%label 
				%input{:checked=>"checked",:type=> "radio", :name=>"donation-frequency", :value=>"annual"}
				Annualy

			%label 
				%input{:type=> "radio", :name=>"donation-frequency", :value=>"monthly"}
				Monthly

	%fieldset
		%legend
			How much would you like to donate?
		%form.donation-amount
			%label 
				%input{:type=> "radio", :name=>"donation-amount", :value=>"1000"}
				£1,000 / year

			%label 
				%input{:type=> "radio", :name=>"donation-amount", :value=>"3000"}
				£1,500 / year

			%label 
				%input{:type=> "radio", :name=>"donation-amount", :value=>"5000"}
				£2,000 / year

			%label 
				%input{:type=> "radio", :name=>"donation-amount", :value=>"other-amount"}
				£
				%input.other.amount{:type=> "text", :name=>"other-amount"}
				per year

	%fieldset
		%legend
			How would you like to pay?

		%form.pay-method
			%label
				%input{:type=> "radio", :name=>"donation-method", :value=>"direct-debit"}
				Direct Debit

			%label
				%input{:type=> "radio", :name=>"donation-method", :value=>"credit-card"}
				Credit Card
				%span 
					You will be redirected to a PayPal payment page
					%i

			%label
				%input{:type=> "radio", :name=>"donation-method", :value=>"cheque"}
				Cheque

	%fieldset#last-step
		%legend
			Great! We will send you an email with instructions for how to pay via direct Debit.
			%label
				%input.call-to-action{:type=>"submit",  :name=>"join", :value=>"Join the Rainmaker Foundation"}

	.go-to-step.two.back
		%i.fa.fa-arrow-left
		Go Back
