---
title: The Rainmaker Foundation registration form
---

%header 
	.logo
		%img{:src=>"/images/logo-rainmaker.jpg"}
	%ul.steps
		%li.tab-step1.current>
			%a 1. Personal Details
		%li.tab-step2>
			%a 2. Membership
		%li.tab-step3>
			%a 3. Payment

.container
	%form{:action=>"/", :method=>"post", }
		= partial "step-one"
		= partial "step-two"
		= partial "step-three"