---
title: The Rainmaker Foundation registration form
---

/ = partial "header"


%ul.steps
	%li.current>
		%a{:href=>"#step1"} Step 01
	%li>
		%a{:href=>"#step2"} Step 02
	%li>
		%a{:href=>"#step3"} Step 03

.container
	= partial "step-one"
	= partial "step-two"
	= partial "step-three"