---
title: The Rainmaker Foundation registration form
---

%header 
	.logo
		%img{:src=>"/images/logo-rainmaker.jpg"}
	%ul.steps
		%li.tab-step1.current>
			%a Step 01
		%li.tab-step2>
			%a Step 02
		%li.tab-step3>
			%a Step 03

.container
	= partial "step-one"
	= partial "step-two"
	= partial "step-three"